body
{
    width: 100%;

    text-align: center;

    background: #fff;
}

.container
{
    width: 800px;
    margin: 0 auto;
}

#player
{
    width: 600px;
    margin: 0 auto;
}

#controls
{
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

div#playpause
{
    float: left;

    width: 20px;
}

.play:after
{
    font-family: 'FontAwesome';

    width: 20px;
    height: 20px;

    content: '\f04b';
}
.pause:after
{
    font-family: 'FontAwesome';

    width: 20px;
    height: 20px;

    content: '\f04c';
}


div#time
{
    float: left;

    width: 100px;
}

div#progress
{
    float: left;

    width: 360px;
    margin-right: 20px;
}

div#mute
{
    float: left;

    width: 20px;
}

.mute:after
{
    font-family: 'FontAwesome';

    width: 20px;
    height: 20px;

    content: '\f028';
}
.mute-off:after
{
    font-family: 'FontAwesome';

    width: 20px;
    height: 20px;

    content: '\f026';
}
#mutebar
{
    float: right;

    width: 75px;
}
